/ {
    keymap {
        compatible = "zmk,keymap";

        layout = [
            &kp ESC        &kp N1    &kp N2   &kp N3    &kp N4    &kp N5            
            &kp TAB        &kp Q     &kp W    &kp E     &kp R     &kp T             
            &lt LOWER CAPS &kp A     &kp S    &kp D     &kp F     &kp G             
            &kp LSHFT      &kp Z     &kp X    &kp C     &kp V     &kp B             
                        &kp GRAVE &kp BSLH &kp LEFT  &kp RIGHT                      
                                                                &kp LCTRL &kp LALT  
                                                                            &kp HOME
                                                        &kp BSPC  &kp DEL   &kp END 
        ];
    };
};