if SHIELD_DACTYL_ACE_LEFT

    config ZMK_KEYBOARD_NAME
        default "Dactyl Ace"
    
    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif

if SHIELD_DACTYL_ACE_RIGHT

    config ZMK_KEYBOARD_NAME
        default "Dactyl Ace Right"

endif

if SHIELD_DACTYL_ACE_LEFT || SHIELD_DACTYL_ACE_RIGHT

    config ZMK_SPLIT
        default y

endif