//config SHIELD_DACTYLACE
//    def_bool $(shields_list_contains, DactylAce)


config SHIELD_DACTYL_ACE_LEFT
    def_bool $(shields_list_contains,dactyl_ace_left)

// config SHIELD_DACTYL_ACE_RIGHT
//    def_bool $(shields_list_contains,dactyl_ace_right)